{% extends 'base.html.twig' %}

{% block title %}Home
{% endblock %}

{% block stylesheets %}
	{{ parent() }}

{% endblock %}

{% block body %}
	{% include "_navbar_anonymous.html.twig" %}
	<div class="container d-block align-items-center mt-5" id="title-div">
		<h1 class="text-center fw-bold main-title fs-1">
			DB<br>
			DVD
		</h1>

		<h2 class="text-center">Les p'tits dvd à s'échanger</h2>
		<div class="d-flex flex-column align-items-center justify-content-center">
			<button class="btn btn-primary btn-lg d-block mb-4 mt-4">
				<a href="{{ path('user_register') }}" class="text-secondary text-decoration-none fw-bold">S'inscrire</a>
			</button>
			<button class="btn btn-primary btn-lg d-block">
				<a href="{{ path('login') }}" class="text-secondary text-decoration-none fw-bold mb-4 mt-4">Se connecter</a>
			</button>
		</div>
	</div>
{% endblock %}
