<div>
	{{ form_start(form) }}
	{{ form_widget(form) }}
	<div class="container-fluid d-flex align-items-center justify-content-center">
		<button class="btn btn-secondary text-light btn-lg mt-3">
			<i class=" bi-plus-circle-fill"></i>
			{{ button_label|default('Ajouter') }}</button>
	</div>
	{{ form_end(form) }}
</div>
