	<h2><span class="badge bg-secondary position-absolute top-0 start-0 translate-middle-y">Recherche</span></h2>
	<div class="py-3 p-lg-3" style="height: 90%">
		<input type="text" name="searchTitle" id="searchTitle" class="col-10">
		<button class="btn btn-outline-white btn-sm spyglass"><i class="bi bi-search col-1"></i></button>
		<div class="overflow-scroll col-12 my-2" id="results" style="height: 300px"></div>
	</div>

