<div class="d-flex flex-column align-items-stretch flex-shrink-0 bg-white">
	<div>
		<label for="searchTitle">Search Title
		</label>
		<input type="text" name="searchTitle" id="searchTitle">
		<div id="results" style="height: 100%"></div>
	</div>
<script>
	function getFilmInfos() {
    console.log("ok");
}
	</script>
</div>
