<div class="d-flex flex-column align-items-stretch flex-shrink-0 bg-secondary">
	<div>
		<label for="searchTitle" class="d-none d-md-inline">Recherche
		</label>
		<input type="text" name="searchTitle" id="searchTitle" class="col-10 col-md-7">
		<button class="btn btn-outline-primary btn-sm"><i class="bi bi-search"></i></button>
		<div id="results" style="height: 100%"></div>
	</div>
</div>
