{% extends 'base.html.twig' %}

{% block title %}Film index
{% endblock %}

{% block body %}
	<div class="container my-5">
		<div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 row-cols-xl-4 gx-5 gy-1">
			{% for film in films %}
				{{ include("film/_film_mini.html.twig", {film: film}) }}

			{% else %}
				Aucun film pour cette personne.
			{% endfor %}

			{% if shownUser is defined and app.user == shownUser %}
				{% include "film/newfilm.html.twig" %}
			{% endif %}
		</div>
	</div>
{% endblock %}
