{% extends 'base.html.twig' %}

{% block title %}New Film
{% endblock %}

{% block body %}
	<h1>Ajouter un film</h1>
	<div class="container">

		<div class="row d-md-flex d-block">
			<div class="col-md-6 col-11">
				{{ include('film/_form.html.twig') }}
			</div>
			<div class="col-md-6 col-10">

				<hr class="d-md-none">
				<br>

				<b class="d-md-none">Recherche</b>
				{% include "film/_searchbar.html.twig" %}
			</div>
			<a href="{{ path('film_index') }}">back to list</a>
		</div>
	</div>

{% endblock %}
