@import 'variables.scss';
@import '~bootstrap/scss/bootstrap';

body, nav{
    margin:0;
    background: $light;
    background-size: contain;
    color: $secondary;
}

body {
    height: 100%;
}

h2 {
    font-variant-caps: small-caps;
}

.filmResult:hover {
    text-decoration: underline;
    background-color: beige;
    cursor: pointer;
}

.film-card {
    border: 2px solid $slategray;
    border-radius: 10%;
    justify-content: center;
    padding: 10px;
    background: radial-gradient($slategray, $anthracite);
    &:hover {
        background: radial-gradient($anthracite, $slategray);
    }

}

.banner {
    height: 250px;
    color: $light;
    background-image: url('../images/dvdFlat.jpg');
    background-repeat: no-repeat;
    background-position: right;
    
}

.title {
    height: 100%;
    background: linear-gradient(to right, $primary, 90%, transparent);
}

#results {
    color: $dark;
}


#title-div {
    height: 100vh;
}

#register-form {
    border: 2px solid $slategray;
    border-radius: 10%;
    padding: 10px;
    width: max-content;
}