@import 'variables.scss';
@import '~bootstrap/scss/bootstrap';

body, nav {
    margin:0;
    background: radial-gradient($secondary-color, $main-color);
    background-repeat: no-repeat;
    background-size: contain;
    color: $light;
}
