@import 'variables.scss';
@import '~bootstrap/scss/bootstrap';

body,
nav {
    margin: 0;
    background: $light;
    background-size: contain;
    color: $secondary;
}

body {
    height: 100%;
}

h2 {
    font-variant-caps: small-caps;
}

footer {
    height: 100px;
    background-color: $primary;
}

.filmResult:hover {
    text-decoration: underline;
    background-color: beige;
    cursor: pointer;
}

.film-card {
    height: 230px;
    filter: grayscale(0%);
}

.banner {
    height: 150px;
    color: $light;
    background-image: url('../images/dvdFlat.jpg');
    background-repeat: no-repeat;
    background-position: right;

}

.title {
    height: 100%;
    background: linear-gradient(to right, $primary, 90%, transparent);
}

.btnMenu {
    transition-duration: 0.5s;
    &:hover {
        transform: rotate(1turn);
    }
}

.text-justify {
    text-align: justify;
    text-justify: auto !important;
}

.security-form {
    border: 2px solid $secondary;
    border-radius: 10%;
    padding: 10px;
    width: max-content;
}

.film {
    max-width: 150px;
    width: auto;
    max-height: 220px;
    height: auto;
}

.bi-file-plus {
    font-size: 120px;
}

#results {
    color: $primary;
}

@media (min-width: 768px) {
    .border-md-start {
        border-left: solid $secondary 1px !important;
    }

    .border-md-end {
        border-right: solid 1px $secondary  !important;
    }

    .border-md-top {
        border-top: solid 1px $secondary  !important;
    }

    .border-md-bottom {
        border-bottom: solid 1px $secondary  !important;
    }

    .border-md-none {
        border: none !important;
    }

    .film-card {
        height: 230px;
        filter: grayscale(50%);
        transition-duration: 0.5s;
        &:hover {
            filter: grayscale(0%);
            box-shadow: (5px 5px 10px blue);
            transition-duration: 0.5s;
        }
    }

}