//$primary: #bbbbff;
$primary: salmon;
$color2: #a4aadb;
$light: #fffbfb;
$secondary: #6666ff;
$color: #040949;
$anthracite: #2b292e;
$slategray: #708090;

$theme-colors: (
    'primary': $primary,
    'secondary': $secondary,
    'anthracite': $anthracite,
    'slategray': $slategray,
)
