$primary: #88e0ff;
$light: #efffff;
$secondary: #4496ff;
$dark: #0088ff;
$white: #ffffff;
$danger: #ff8888;

$theme-colors: (
    'primary': $primary,
    'secondary': $secondary,
    'light': $light,
    'dark': $dark,
    'white': $white,
    'danger': $danger,
)

