<form method="post" action="{{ path('borrowing_delete', {'id': borrowed.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ borrowed.id) }}">
    <button  class="btn btn-secondary">Delete</button>
</form>
